@page "/"

@inject ISessionDiscovery SessionDiscovery;
@inject NavigationManager NavigationManager

<MatButton Raised="true" Icon="@MatIconNames.Add" Label="New session" OnClick="OnNewSessionClicked" Style="float: right;"/>

<h3 class="mat-h3">Recent Sessions</h3>

<MatTable Items="@Sessions" class="mat-elevation-z5" AllowSelection="true" SelectionChanged="@OnSelectionChanged" PageSize="Int32.MaxValue" ShowPaging="false">
    <MatTableHeader>
        <th>Process</th>
        <th style="min-width:300px;">Date (UTC)</th>
        <th>Profiler</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.ProcessName</td>
        <td>@context.TimestampDate</td>
        <td>@context.Profiler?.Name</td>
    </MatTableRow>
</MatTable>

@code
{
    private IEnumerable<SessionInfo> Sessions { get; set; } = Array.Empty<SessionInfo>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Sessions = SessionDiscovery.GetSessions().OrderByDescending(x => x.TimestampDate);
    }

    private void OnSelectionChanged(object data)
    {
        NavigationManager.NavigateTo($"/sessions/{(data as SessionInfo)!.Guid}", true);
    }

    private void OnNewSessionClicked(object data)
    {
        NavigationManager.NavigateTo("/processes/", true);
    }
}