@page "/"

@inject ISessionDiscovery _sessionDiscovery;
@inject NavigationManager _navigationManager

<h3 class="mat-h3">Recent Sessions</h3>

<MatTable Items="@_sessions" class="mat-elevation-z5" AllowSelection="true" SelectionChanged="@OnSelectionChanged">
    <MatTableHeader>
        <th>Process</th>
        <th style="min-width:300px;">Date</th>
        <th>Profiler</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.ProcessName</td>
        <td>@context.Timestamp</td>
        <td>@context.Profiler.Name</td>
    </MatTableRow>
</MatTable>

<MatButton Raised="true" Icon="@MatIconNames.Add" Label="New session" OnClick="OnNewSessionClicked" Style="float: right;"></MatButton>
 
@code
{
    IEnumerable<Session> _sessions;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _sessions = _sessionDiscovery.GetSessions().OrderByDescending(x => x.Timestamp);
    }

    public void OnSelectionChanged(object data)
    {
        _navigationManager.NavigateTo($"/sessions/{(data as Session).SessionId}", true);
    }

    public void OnNewSessionClicked(object data)
    {
        _navigationManager.NavigateTo("/processes/", true);
    }
}