@page "/"

@inject ISessionDiscovery SessionDiscovery;
@inject NavigationManager NavigationManager

<MudButton Raised="true" StartIcon="@Icons.Material.Filled.Add" OnClick="OnNewSessionClicked" Style="float: right;">New session</MudButton>

<h3 class="mat-h3">Recent Sessions</h3>

<MudTable Items="@Sessions" class="mat-elevation-z5" AllowSelection="true" OnRowClick="OnSelectionChanged" T="SessionInfo" PageSize="Int32.MaxValue" ShowPaging="false">
    <HeaderContent>
        <MudTh>Process</MudTh>
        <MudTh style="min-width:300px;">Date (UTC)</MudTh>
        <MudTh>Profiler</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.ProcessName</MudTd>
        <MudTd>@context.TimestampDate</MudTd>
        <MudTd>@context.Profiler?.Name</MudTd>
    </RowTemplate>
</MudTable>

@code
{
    private IEnumerable<SessionInfo> Sessions { get; set; } = Array.Empty<SessionInfo>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Sessions = SessionDiscovery.GetSessions().OrderByDescending(x => x.TimestampDate);
    }

    private void OnSelectionChanged(TableRowClickEventArgs<SessionInfo> tableRowClickEventArgs)
    {
        NavigationManager.NavigateTo($"/sessions/{tableRowClickEventArgs.Item.Guid}", true);
    }

    private void OnNewSessionClicked(object data)
    {
        NavigationManager.NavigateTo("/processes/", true);
    }
}