@page "/job/{ProcessId}/{ProfilerId}"

@inject NavigationManager _navigationManager
@inject IProfilerDiscovery _profilerDiscovery
@inject ISessionDiscovery _sessionDiscovery
@inject ILogger _logger

<MatIconButton Style="float: left;" Icon="@MatIconNames.Arrow_back" OnClick="@OnBackClick"></MatIconButton>

<h3 class="mat-h3">Job</h3>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner mat-elevation-z5" style="padding: 20px;">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
            <h4 class="mat-h4">@_profiler.Name</h4>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6 mat-body1">
            @_profiler.ProfilerId
        </div>

        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-body1">
            @_profiler.Description
        </div>

        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            @if (Started)
            {
                <h3 class="mat-subtitle1">Analysis in progress, please wait...</h3>
                <MatProgressBar Indeterminate="true"></MatProgressBar>
            }
            else
            {
                if (Session != null)
                {
                    <MatButton Raised="true" Icon="@MatIconNames.Play_arrow" Label="View session results" OnClick="OnViewSessionResultsClicked" Style="float: right;"></MatButton>
                }
                else
                {
                    <MatButton Raised="true" Icon="@MatIconNames.Play_arrow" Label="Attach to process" OnClick="OnRunAnalysisClicked" Style="float: right;"></MatButton>
                }
            }
        </div>
    </div>
</div>

@code {

    private bool Started { get; set; }
    private Session Session { get; set; }

    [Parameter]
    public string ProcessId { get; set; }

    [Parameter]
    public string ProfilerId { get; set; }

    public Profiler _profiler;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _profiler = _profilerDiscovery.GetProfilers().Where(x => x.ProfilerId.ToString() == ProfilerId).First();
    }

    private async Task OnRunAnalysisClicked(object data)
    {
        Started = true;

        try
        {
            _logger.Log($"Start profiling!");
            var sessionId = _profiler.StartProfilingSession(int.Parse(ProcessId), _logger);
            _logger.Log($"Successfully attached to process!");
            Session = await _sessionDiscovery.AwaitUntilCompletion(sessionId);
        }
        catch (Exception ex)
        {
            _logger.Log("ERROR: " + ex);
        }

        Started = false;
    }

    public void OnViewSessionResultsClicked(object data)
    {
        _navigationManager.NavigateTo($"/sessions/{Session.SessionId}", true);
    }

    public void OnBackClick(object data)
    {
        _navigationManager.NavigateTo($"/profilers/{ProcessId}", true);
    }
} 