@page "/profilers/{ProcessId:int}"

@inject IProfilerDiscovery ProfilersDiscovery;
@inject NavigationManager NavigationManager;

<MatIconButton Style="float: left;" Icon="@MatIconNames.Arrow_back" OnClick="@OnBackClick"/>

<h3 class="mat-h3">Profilers</h3>

<MatTable Items="@Profilers" class="mat-elevation-z5" AllowSelection="true" SelectionChanged="@OnSelectionChanged" PageSize="Int32.MaxValue" ShowPaging="false">
    <MatTableHeader>
        <th>Name</th>
        <th style="min-width:300px;">Id</th>
        <th>Description</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Name</td>
        <td>@context.Uuid</td>
        <td>@context.Description</td>
    </MatTableRow>
</MatTable>

@code {
    private IList<ProfilerInfo> Profilers { get; set; } = Array.Empty<ProfilerInfo>();

    [Parameter]
    public required int ProcessId { get; init; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Profilers = ProfilersDiscovery.GetProfilers();
    }

    private void OnSelectionChanged(object data)
    {
        NavigationManager.NavigateTo($"/job/{ProcessId}/{(data as ProfilerInfo)!.Uuid}", true);
    }

    private void OnBackClick(object data)
    {
        NavigationManager.NavigateTo("/processes", true);
    }
} 