@page "/profilers/{ProcessId:int}"

@inject IProfilerDiscovery ProfilersDiscovery;
@inject NavigationManager NavigationManager;

<MudIconButton Style="float: left;" OnClick="@OnBackClick"/>

<h3 class="mat-h3">Profilers</h3>

<MudTable Items="@Profilers" class="mat-elevation-z5" AllowSelection="true" OnRowClick="OnSelectionChanged" T="ProfilerInfo" PageSize="Int32.MaxValue" ShowPaging="false">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh style="min-width:300px;">Id</MudTh>
        <MudTh>Description</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd> 
        <MudTd>@context.Uuid</MudTd>
        <MudTd>@context.Description</MudTd>
    </RowTemplate>
</MudTable>

@code {
    private IList<ProfilerInfo> Profilers { get; set; } = Array.Empty<ProfilerInfo>();

    [Parameter]
    public required int ProcessId { get; init; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Profilers = ProfilersDiscovery.GetProfilers();
    }

    private void OnSelectionChanged(TableRowClickEventArgs<ProfilerInfo> tableRowClickEventArgs)
    {
        NavigationManager.NavigateTo($"/job/{ProcessId}/{tableRowClickEventArgs.Item.Uuid}", true);
    }

    private void OnBackClick(object data)
    {
        NavigationManager.NavigateTo("/processes", true);
    }
} 