@using DrDotnet.Utils
@using System.IO

@implements IDisposable
@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <b style="flex-grow: 1;">Dr.Dotnet</b>
            <i>Version @VersionUtils.CurrentVersion</i>
            <MudButton OnClick="@OpenLogs" Icon="receipt" Style="">Logs</MudButton>
            <MudButton Link="https://github.com/ogxd/dr-dotnet" Icon="open_in_new" Style="">See on Github</MudButton>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<MudDialog @bind-IsOpen="@IsLogDialogOpen">
    <DialogContent>
        <MudTabs>
            <MudTabPanel Text="App Logs">
                <LogsArea>@AppLogs</LogsArea>
            </MudTabPanel>
            <MudTabPanel Text="Profiler Logs">
                <LogsArea>@ProfilerLogs</LogsArea>
            </MudTabPanel>
        </MudTabs>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(e => { IsLogDialogOpen = false; })">Close</MudButton>
    </DialogActions>
</MudDialog>
 
@code
{
    private bool _isDarkMode;
    private MudThemeProvider? _mudThemeProvider;
    
    private const int MaximumBufferSize = 65536;
    private readonly FileSystemWatcher _watcher = new(PathUtils.DrDotnetBaseDirectory);

    private bool IsLogDialogOpen { get; set; }

    private string? _appLogs;
    public string AppLogs => _appLogs ??= GetLogs("app.debug.log");
    
    private string? _profilerLogs;
    public string ProfilerLogs => _profilerLogs ??= GetLogs("profiler.debug.log");

    void OpenLogs()
    {
        IsLogDialogOpen = true;
    }

    private static string GetLogs(string file)
    {
        string fullPath = Path.Combine(PathUtils.DrDotnetBaseDirectory, file);
        if (!File.Exists(fullPath))
        {
            return string.Empty;
        }

        using var fs = File.Open(fullPath, FileMode.Open, FileAccess.Read, FileShare.ReadWrite);
        using var sr =  new StreamReader(fs);

        if (fs.Length > MaximumBufferSize)
        {
            fs.Seek(-MaximumBufferSize, SeekOrigin.End);
        }
        
        return sr.ReadToEnd();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _watcher.NotifyFilter = NotifyFilters.LastAccess
                              | NotifyFilters.CreationTime
                              | NotifyFilters.LastWrite
                              | NotifyFilters.Size;

        _watcher.Changed += WatcherOnChanged;

        _watcher.Filter = "*.log";
        _watcher.IncludeSubdirectories = false;
        _watcher.EnableRaisingEvents = true;
    }

    private void WatcherOnChanged(object sender, FileSystemEventArgs e)
    {
        // Reset content
        _appLogs = null;
        _profilerLogs = null;
        
        if (IsLogDialogOpen)
        {
            // Trigger refresh of the logs view in case dialog is open and new log arrives
            InvokeAsync(StateHasChanged);
        }
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider!.GetSystemPreference();
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        _watcher.Dispose();
    }
}