<Router AppAssembly="@this.GetType().Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(DrDotnet.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(DrDotnet.Shared.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
